# dependencies
node_modules/
.npm-cache/
.pnp.*

# expo
.expo/
dist/
web-build/

# native
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
android/app/release/
ios/

# testing
coverage/

# logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# env / secrets
.env
.env.*.local

# editors / os
.idea/
.vscode/
.DS_Store


